@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

  
.material{
max-width: 85%;
margin: auto;
padding: 25px;
    
}
